/*
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1  Reset      (line 12)
2  Typography (line 
3  
4  
5  
6  

==================================
1.0 Reset
==================================
 http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==================================
2 Typography
==================================
*/
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}


/*
==================================
3 Layout
==================================
*/


/*
==================================
4 Grid
==================================
*/

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

/*
========================================
5 Clearfix
========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
==================================
6 Primary Header
==================================
*/
.logo {
  padding: 40px 0 22px 0;
  float: left;
}

/*
==================================
6 Navigation
==================================
*/
.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}
/*
==================================
6 Home
==================================
*/
.home {
  padding: 42px 80px 500px 80px;
  background-image: url("images/background/pt_website_home_background960x672_v1.png")
}

/*
==================================
6 Primary Footer
==================================
*/

.primary-footer small {
  float: left;
}
.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}